$category-font-size: 14px;
$headline-font-size: 24px;
$description-font-size: 16px;
$category-font-color: #0059bf;
$headline-font-color: #000000;
$description-font-color: #606669;
$font-family-container : 'PT Serif', serif;
$font-family-description: 'Quicksand', sans-serif;
$border-bottom-color :1px solid #e1e2e3;

.main-container {
	margin: auto;
	width: 80%;
	font-family: $font-family-container;
}

.container-element {
	padding: 0px 6%;

	.category {
		color: $category-font-color;
		font-size: $category-font-size;
	}
	.headline {
		color: $headline-font-color;
		font-size: $headline-font-size;
	}
	.description {
		color: $description-font-color;
		font-size: $description-font-size;
		font-family: $font-family-description
	}
	.inner-box{
		display:flex;
		justify-content: space-between;
		padding: 10px 0px; 
		border-bottom: $border-bottom-color;
	}
	img {
		width: 316px;
		height: 237px;
		object-fit: contain;
	}
}

